= form_for @man_rsc do |f|
  - if @man_rsc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@man_rsc.errors.count, "error")} prohibited this man_rsc from being saved:"
      %ul
        - @man_rsc.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :desc
    = f.text_field :desc
  .field
    = f.label :conn
    = f.text_field :conn
  .actions
    = f.submit 'Save'
