%h1 Listing man_rscs

%table
  %tr
    %th Name
    %th Desc
    %th Conn
    %th
    %th
    %th

  - @man_rscs.each do |man_rsc|
    %tr
      %td= man_rsc.name
      %td= man_rsc.desc
      %td= man_rsc.conn
      %td= link_to 'Show', man_rsc
      %td= link_to 'Edit', edit_man_rsc_path(man_rsc)
      %td= link_to 'Destroy', man_rsc, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Man rsc', new_man_rsc_path
