<!DOCTYPE html>
<html>
<head></head>
<body>
<div style="width: 1000px">
  <table id="condicional" class="table table-bordered" style="width: 800px">
    <tittle><h2 class="the-legend">Atributos de condición</h2></tittle>
    <tr>
      <th>Sel</th>
      <th>Items</th>
      <th>Mayor que</th>
      <th>Menor que</th>
      <th>Igual a</th>
      <th>Diferente a</th>

    </tr>
    <% @refreshatr.each do |n| %>

        <tr class="success">
          <td><%= check_box_tag "Hst_ids[]", n.id%></td>
          <td><%=h n.name %> </td>
          <td><%= select_tag "inf_id[]", options_from_collection_for_select(Hst.where(:atr_id => n.id), "id", "valuee"), :prompt => "cota inferior" %></td>
          <td><%= select_tag "sup_id[]", options_from_collection_for_select(Hst.where(:atr_id => n.id), "id", "valuee"), :prompt => "cota superior"%></td>
          <td><%= select_tag "igual_id[]", options_from_collection_for_select(Hst.where(:atr_id => n.id), "id", "valuee"), :prompt => "igualar"%></td>
          <td><%= select_tag "dif_id[]", options_from_collection_for_select(Hst.where(:atr_id => n.id), "id", "valuee"), :prompt => "excluir"%></td>
        </tr>

    <%end%>
    <td><%= submit_tag 'Generar' , :class => 'btn-primary' %></td>
    </table>
</div>
</body>
</html>




