%h1= 'Listado de Usuarios'
%br
- if notice
  .alert.alert-success
    %a.close{"data-dismiss" => "alert"} ×
    = notice

%table.table.table-striped
  %thead
    %th Nombre
    %th Email
    %th Rol
    %th Eliminar
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.role
        %td= link_to image_tag('eliminar.png', {:title => t('forms.destroy')}), user, :method => :delete, :data => { :confirm => 'Esta seguro de querer eliminar el usuario?' }

%br
.form-actions
  = link_to 'Nuevo Usuario', new_user_path, {:class => "links"}
