= form_for @net_ele do |f|
  - if @net_ele.errors.any?
    #error_explanation

      %h2=t("errors.template.header", count: @net_ele.errors.count, model: t('net_eles.model'))
      %ul
        - @net_ele.errors.messages.values.each do |msg|
          - msg.each do |m|
            %li= m

  .field
    = f.label t('.name')
    = f.text_field :name
  .field
    = f.label t('.desc')
    = f.text_field :desc

  = fields_for @conn do |f|
    - if @conn.errors.any?
      #error_explanation
        %h2= t("errors.template.header", count: @conn.errors.count, model: t('net_eles.model'))
        %ul
          - @conn.errors.messages.values.each do |msg|
            - msg.each do |m|
              %li= m

    = f.label t('.ip')
    = f.text_field :ip, class: "ip-input", maxlength: 15, size: 20, placeholder: "1.0.0.0"
    = f.label t('.port')
    = f.number_field :port, min: 1, placeholder: 1000
    = link_to  'Probar Conexión', '/net_ele/testconn', :id => "testconnnetele", :remote => true, :class => "testconnnetele"

  .actions
    = f.submit t('.submit')
