= form_for @net_ele do |f|
  - if @net_ele.errors.any?
    #error_explanation
      %h2= "#{pluralize(@net_ele.errors.count, "error")} prohibited this network element from being saved:"
      %ul
        - @net_ele.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :desc
    = f.text_field :desc

  = fields_for @conn do |f|
    - if @conn.errors.any?
      #error_explanation
        %h2= "#{pluralize(@conn.errors.count, "error")} prohibited this connection from being saved:"
        %ul
          - @conn.errors.full_messages.each do |msg|
            %li= msg

    = f.label :ip
    = f.text_field :ip
    = f.label :port
    = f.text_field :port

  .actions
    = f.submit 'Guardar'
