%h1= t('.title')
- if notice
  %p#notice= notice
%table
  %tr
    %th
    %th
    %th
    %th

  - @net_eles.each do |net_ele|
    %tr
      %td= net_ele.name
      %td= link_to t('.show'), net_ele
      %td= link_to t('.edit'), edit_net_ele_path(net_ele)
      %td= link_to t('.destroy'), net_ele, :method => :delete, :data => { :confirm => t('.confirm') }

%br

= link_to t('.new'), new_net_ele_path

