%h1= t('.title')
%br
- if notice
  .alert.alert-success
    %a.close{"data-dismiss" => "alert"} ×
    = notice

%table.table.table-striped
  %thead
    %th Alertable
    %th Gestionable
    %th Nombre
    %th Descripción
    %th Ver
    %th Editar
    %th Eliminar
    %th Parámetros
  %tbody
    - @net_eles.each do |mr|
      %tr
        -if mr.mcr_atrs?
          -if mr.alrtbl == true
            %td=link_to image_tag('icon_act.png', {:title => 'Desactivar'}), "/man_rscs/alrtable?man_rsc_id=#{mr._id}&act=false"
          -else
            %td=link_to image_tag('icon_ina.png', {:title => 'Activar'}), "/man_rscs/alrtable?man_rsc_id=#{mr._id}&act=true"
          -if mr.mngbl == true
            %td=link_to image_tag('icon_act.png', {:title => 'Desactivar'}), "/man_rscs/mngable?man_rsc_id=#{mr._id}&act=false"
          -else
            %td=link_to image_tag('icon_ina.png', {:title => 'Activar'}), "/man_rscs/mngable?man_rsc_id=#{mr._id}&act=true"
        -else
          %td=image_tag 'icon_dis.png'
          %td=image_tag 'icon_dis.png'
        -if mr.mcr_atrs?
          %td= link_to mr.name, man_rsc_mcr_atrs_path(mr)
        -else
          %td= mr.name
        %td= mr.desc
        %td= link_to image_tag('ver.png', {:title => t('forms.show')}), mr
        %td= link_to image_tag('editar.png', {:title => t('forms.edit')}), edit_net_ele_path(mr)
        %td= link_to image_tag('eliminar.png', {:title => t('forms.destroy')}), mr, :method => :delete, :data => { :confirm => t('.confirm') }
        -if mr.mcr_atrs?
          %td= link_to image_tag('arch_del.png', {:title => t('forms.delparam')}), {:controller => "uploads", :action => 'destroy', :id => mr}, :method => :delete, :data => { :confirm => t('forms.delparams.confirm') }
        -else
          %td= link_to image_tag('arch_add.png', {:title => t('forms.addparam')}),'#', :onclick => "$('#myModal').modal({res:'#{mr._id}'})"
    =render "shared/upload_modal"

%br
.form-actions
  = link_to t('.new'), new_net_ele_path, {:class => "links"}