%h1=t('net_eles.model')
%br
- if notice
  .alert.alert-success
    %a.close{"data-dismiss" => "alert"} ×
    = notice

%fieldset
  %legend.the-legend
    Datos
  .show.title Nombre:
  .show.text= @net_ele.name
  .show.title Descripción:
  .show.text= @net_ele.desc
%br
%fieldset
  %legend.the-legend
    Conexión
  .show.title  Dirección IP:
  .show.text= @net_ele.conn.ip
  .show.title  Puerto:
  .show.text= @net_ele.conn.port

.form-actions
  = link_to image_tag('editar.png', {:title => t('net_eles.index.edit')}), edit_net_ele_path(@net_ele)
  = link_to t('net_eles.edit.back'), net_eles_path, {:class => "links"}
