= form_for @serv do |f|
  - if @serv.errors.any?
    #error_explanation
      %h2=t("errors.template.header", count: @serv.errors.count, model: t('servs.model'))
      %ul
        - @serv.errors.messages.values.each do |msg|
          - msg.each do |m|
            %li= m

  .field
    = f.label t('.name')
    = f.text_field :name
  .field
    = f.label t('.desc')
    = f.text_field :desc
  .field
    = f.label t('.repository')
    = f.select :mother, @net_eles.map{ |c| [c.name, c.id] } , selected: @repoid

  = fields_for @conn do |f|
    - if @conn.errors.any?
      #error_explanation
        %h2= t("errors.template.header", count: @conn.errors.count, model: t('servs.model'))
        %ul
          - @conn.errors.messages.values.each do |msg|
            - msg.each do |m|
              %li= m
    = f.label t('.port')
    = f.number_field :port, min: 1, placeholder: 1000
    = link_to  'Probar Conexión', '/servs/testconn', :id => "testconn", :remote => true, :class => "testconn"

  %script{:type => "text/javascript"}
    :plain
      $('.testconn').bind('ajax:success', function(){
      });
      $().ready(function(){
          $('#testconn').click(function(){
              repo=document.getElementById('serv_mother').value
              port=document.getElementById('conn_port').value
              $(this).attr('href', $(this).attr('href') + '?repo=' + repo + '&port=' + port);
          });
      });
  .actions
    = f.submit t('.submit')
