%h1= t('.title')
- if notice
  %p#notice= notice
%table
  %tr
    %th
    %th
    %th
    %th

  - @servs.each do |serv|
    %tr
      %td= serv.name
      %td= link_to t('.show'), serv
      %td= link_to t('.edit'), edit_serv_path(serv)
      %td= link_to t('.destroy'), serv, :method => :delete, :data => { :confirm => t('.confirm') }

%br

= link_to t('.new'), new_serv_path
