%h1= t('.title')
%br
- if notice
  .alert.alert-success
    %a.close{"data-dismiss" => "alert"} ×
    = notice

%table.table.table-striped
  %thead
    %th Nombre
    %th Descripción
    %th Ver
    %th Editar
    %th Eliminar
    %th Parámetros
  %tbody
    - @servs.each do |serv|
      %tr
        - if serv.mcr_atrs?
          %td= link_to image_tag('arch_del.png', {:title => t('forms.delparam')}), delparams_serv_path(serv), :data => { :confirm => t('.confirm') }
        - else
          %td= link_to image_tag('arch_add.png', {:title => t('forms.addparam')}), upload_serv_path(serv)
        %td= serv.name
        %td= serv.desc
        %td= link_to image_tag('ver.png', {:title => t('forms.show')}), serv
        %td= link_to image_tag('editar.png', {:title => t('forms.edit')}), edit_serv_path(serv)
        %td= link_to image_tag('eliminar.png', {:title => t('forms.destroy')}), serv, :method => :delete, :data => { :confirm => t('.confirm') }

%br
.form-actions
  = link_to t('.new'), new_serv_path, {:class => "links"}
