%h1 Listado de servicios

%table
  %tr
    %th
    %th
    %th
    %th

  - @servs.each do |serv|
    %tr
      %td= serv.name
      %td= link_to 'Show', serv
      %td= link_to 'Edit', edit_serv_path(serv)
      %td= link_to 'Destroy', serv, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Serv', new_serv_path
