%table.table.table-striped
  %thead
    %th
    %th Título
    %th Mensaje
    -if @filtro != 'notif'
      %th Conteo
    -if @filtro != 'notif'
      %th Fecha/Hora Inicial
      %th Fecha/Hora Última
    -else
      %th Fecha/Hora
    -if @filtro != 'notif'
      %th Detalle
    -else
      %th
    -if @filtro != 'notif'
      %th Estado
  %tbody
    -@alrts.each do |alrt|
      %tr{:id => "alrt_#{alrt.id.to_s}"}
        %td.downbydown
          -if alrt.tipo=='anmly'
            =image_tag "anml.png"
            %span.label.label-warning Anomalía
          -elsif alrt.tipo=='alarm'
            =image_tag "alrm.png"
            %span.label.label-important Alarma
          -else
            =image_tag "notif.png"
            %span.label.label-info Información
        %td= alrt.title
        %td= alrt.msg
        -if @filtro != 'notif'
          %td= alrt.count
        %td= Time.at(alrt.tstamp_ini)
        -if @filtro != 'notif'
          %td= Time.at(alrt.tstamp_last)
        %td
          -if alrt.tipo=='anmly' or alrt.tipo=='alarm'
            -localizado=""
            -impacto=""
            -if alrt.atr
              -localizado="Atributo: #{alrt.atr.name} <br> Grupo de Atributos: #{alrt.atr.mcr_atr.name} <br> Recurso: #{alrt.atr.mcr_atr.man_rsc.name}"
              -if alrt.tipo=='anmly'
                -if alrt.atr.qos_mon
                  -impacto=alrt.atr.qos_mon.impact
                -else
                  -impacto='ninguno'
              -else
                -if alrt.atr.alr_mon
                  -impacto=alrt.atr.alr_mon.impact
                -else
                  -impacto='ninguno'
            -elsif alrt.mcr_atr
              -localizado="Grupo de atributos #{alrt.mcr_atr.name} <br> Recurso: #{alrt.mcr_atr.man_rsc.name}"
              -impacto='alto'
            %div
              !=localizado
              -if !impacto.empty?
                %br
                Impacto: #{impacto}
                %br
                -if alrt.atr.nil?
                  =link_to 'Localizar','#', :onclick => "openModalLoc('#{ alrt.mcr_atr.man_rsc.name }');", :class => 'alrt_links'
                -else
                  =link_to 'Localizar','#', :onclick => "openModalLoc('#{ alrt.atr.mcr_atr.man_rsc.name }');", :class => 'alrt_links'
                #modalLoc.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "modalLocLabel", :role => "dialog", :tabindex => "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                    %h3#modalLocLabel Topo
                  .modal-body3
                    #topo
        %td{ :id => "state_#{alrt.id.to_s}" }
          -if alrt.tipo!='notif'
            -@alrt=alrt
            -if alrt.state=='noAtt'
              =link_to 'Atender', '#', :onclick => "attend_alert('#{alrt.id.to_s}','#{@filtro}')", :class => 'alrt_links'
            -elsif alrt.state=='att'
              =render :partial => "alert_state"
            -elsif alrt.state=='solved'
              =render :partial => "alert_solved", :locals => {:alrt => @alrt}

