:javascript
  $(document).ready(function() {
      $('.popover-test').popover(placement="bottom", trigger= "hover");
  });
%table.table.table-striped
  %thead
    %th
    %th Título
    %th Mensaje
    %th Conteo
    %th Fecha/Hora Inicial
    %th Fecha/Hora Última
    -if @filtro != 'notif'
      %th Detalle
    -else
      %th
    %th
  %tbody
    -@alrts.each do |alrt|
      %tr
        %td.downbydown
          -if alrt.tipo=='anmly'
            =image_tag "anml.png"
            %span.label.label-warning Anomalía
          -elsif alrt.tipo=='alarm'
            =image_tag "alrm.png"
            %span.label.label-important Alarma
          -else
            =image_tag "notif.png"
            %span.label.label-info Información
        %td= alrt.title
        %td= alrt.msg
        %td= alrt.count
        %td= Time.at(alrt.tstamp_ini)
        %td= Time.at(alrt.tstamp_last)
        %td
          -if alrt.tipo=='anmly' or alrt.tipo=='alarm'
            -localizado=""
            -impacto=""
            -if alrt.atr
              -localizado="Atributo: #{alrt.atr.name} <br> Grupo de Atributos: #{alrt.atr.mcr_atr.name} <br> Recurso: #{alrt.atr.mcr_atr.man_rsc.name}"
              -if alrt.tipo=='anmly'
                -if alrt.atr.qos_mon
                  -impacto=alrt.atr.qos_mon.impact
                -else
                  -impacto='ninguno'
              -else
                -if alrt.atr.alr_mon
                  -impacto=alrt.atr.alr_mon.impact
                -else
                  -impacto='ninguno'
            -elsif alrt.mcr_atr
              -localizado="Grupo de atributos #{alrt.mcr_atr.name} <br> Recurso: #{alrt.mcr_atr.man_rsc.name}"
              -impacto='alto'
            %div
              !=localizado
              -if !impacto.empty?
                %br
                Impacto: #{impacto}
        %td
          -if alrt.tipo=='alarm'
            =link_to 'Asignar', alrts_path, {:class => "links"}
