%h1 Listado de Alertas
:javascript
  $(function () {
    $('.popover-test').popover({
      html : true
    })
  });

%table.table.table-striped
  %thead
    %th
    %th Título
    %th Mensaje
    %th Errores
    %th Fecha/Hora Inicial
    %th Fecha/Hora Última
    %th
  %tbody
    -@alrts.each do |alrt|
      %tr
        %td.downbydown
          -if alrt.tipo=='anmly'
            =image_tag "anml.png"
            %span.label.label-warning Anomalía
          -elsif alrt.tipo=='alarm'
            =image_tag "alrm.png"
            %span.label.label-important Alarma
          -else
            =image_tag "notif.png"
            %span.label.label-info Información
        %td= alrt.title
        %td= alrt.msg
        %td= alrt.count
        %td= Time.at(alrt.tstamp_ini)
        %td= Time.at(alrt.tstamp_last)
        %td
          -if alrt.tipo=='anmly' or alrt.tipo=='alarm'
            -localizado=""
            -impacto=""
            -if alrt.atr
              -localizado="atributo: #{alrt.atr.name}, Grupo de Atributos: #{alrt.atr.mcr_atr.name}, Recurso: #{alrt.atr.mcr_atr.man_rsc.name}"
              -if alrt.tipo=='anmly'
                -if alrt.atr.qos_mon
                  -impacto=alrt.atr.qos_mon.impact
                -else
                  -impacto='ninguno'
              -else
                -if alrt.atr.alr_mon
                  -impacto=alrt.atr.alr_mon.impact
                -else
                  -impacto='ninguno'
            -elsif alrt.mcr_atr
              -localizado="grupo de atributos #{alrt.mcr_atr.name}, Recurso: #{alrt.mcr_atr.man_rsc.name}"
              -impacto='alto'
            = link_to('Detalle', '#', :class => "popover-test", :rel => "popover", :'data-placement' => 'top', :'data-content' => "Localizado en #{localizado} <br> Impacto: #{impacto}")