= form_for @topology do |f|
  - if @topology.errors.any?
    #error_explanation
      %h2= "#{pluralize(@topology.errors.count, "error")} prohibited this topology from being saved:"
      %ul
        - @topology.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
