%tr
 %td= p.input :name_attribute, label: false , :input_html => { :value => p.object.associated_attribute.name , :disabled => true}
 %td= p.check_box :filter_attribute , label: false
 %td= p.input :higher_to  , label: false
 %td= p.input :less_to  , label: false
 %td= p.input :equal_to  , label: false
 %td= p.input :different_to  , label: false
