%h1= "Listado de atributos para #{@mr_name}"
%br
- if notice
  .alert.alert-success
    %a.close{"data-dismiss" => "alert"} ×
    = notice
-i=0
%fieldset#mainform
  %legend.the-legend
    ="Grupos de Atributos"
    - @mcr_atrs.each do |mcr_atr|
      -i=i+1
      #accordion1.accordion
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#collapse#{i}"}
              -if mcr_atr.tipo == 'composite'
                -mcrtipo='Compuesto'
              -elsif mcr_atr.tipo == 'simple'
                -mcrtipo='Simple'
              -else
                -mcrtipo='Configuración'
              ="Grupo de atributos ##{i}: #{mcr_atr.name} (#{mcrtipo})"
            %table
              %tr
                -if mcr_atr.tipo == 'composite'
                  -if mcr_atr.alr_mon
                    %td
                      -if mcr_atr.alr_mon.state == 'act'
                        =link_to image_tag('alr_stop.png', {:title => t('forms.stopalarm')}), "/frmls/state?mcr_atr_id=#{mcr_atr._id}"
                      -else
                        =link_to image_tag('alr_play.png', {:title => t('forms.playalarm')}), "/frmls/state?mcr_atr_id=#{mcr_atr._id}"
                      =link_to image_tag('alr_edit.png', {:title => t('forms.editalarm')}), "mcr_atrs/#{mcr_atr._id}/alr_mntr_frmls/#{mcr_atr.alr_mon._id}/edit"
                      =link_to image_tag('alr_delete.png', {:title => t('forms.delalarm')}), "mcr_atrs/#{mcr_atr._id}/alr_mntr_frmls/#{mcr_atr.alr_mon._id}", :method => :delete, :data => { :confirm => t('forms.delalarms.confirm') }
                  -else
                    %td=link_to image_tag('alr_add.png', {:title => t('forms.addalarm')}), "mcr_atrs/#{mcr_atr._id}/alr_mntr_frmls/new"
          %div{:id => "collapse#{i}", :class => "accordion-body collapse in"}
            .accordion-inner
              %table.table.table-striped
                %thead
                  %th Nombre
                  %th Descripción
                  -if mcr_atr.tipo == 'setup'
                    %th Valor
                  %th Referencia protocolar
                  %th Tipo
                  -if mcr_atr.tipo == 'simple'
                    %th Monitor QoS
                    %th Monitor Alarma
                %tbody
                  -mcr_atr.atrs.order_by(:name.asc).each do |atr|
                    %tr
                      %td= atr.name
                      %td= atr.desc
                      -if mcr_atr.tipo == 'setup'
                        %td
                          =atr.value
                          =link_to image_tag('editar.png', {:title => t('forms.changeValue')}) , '#', :onclick => "$('#confValue').modal({tipo:'#{atr.tipo}', val:'#{atr.value}', aid:'#{atr._id}', maid:'#{mcr_atr._id}', mrid:'#{mcr_atr.man_rsc._id}'})", :class => "links"
                      %td= atr.ref_prot
                      %td= atr.tipo
                      -if mcr_atr.tipo == 'simple'
                        %td
                          -if atr.qos_mon
                            -tipo=''
                            -if atr.qos_mon._type == 'AlrMntrCntr'
                              -tipo='alr_mntr_cntrs'
                            -else
                              -tipo='alr_mntr_rngs'
                            -if atr.qos_mon.state == 'act'
                              = link_to image_tag('alr_stop.png', {:title => t('forms.stopqos')}), "/#{tipo}/state?atr_id=#{atr._id}&alr_cat=qos"
                            -else
                              = link_to image_tag('alr_play.png', {:title => t('forms.playqos')}), "/#{tipo}/state?atr_id=#{atr._id}&alr_cat=qos"
                            = link_to image_tag('alr_edit.png', {:title => t('forms.editqos')}), "mcr_atrs/#{mcr_atr._id}/atrs/#{atr._id}/#{tipo}/#{atr.qos_mon._id}/edit?alr_cat=qos"
                            = link_to image_tag('alr_delete.png', {:title => t('forms.delqos')}), "mcr_atrs/#{mcr_atr._id}/atrs/#{atr._id}/#{tipo}/#{atr.qos_mon._id}?alr_cat=qos", :method => :delete, :data => { :confirm => t('forms.delalarms.confirm') }
                          -else
                            = link_to image_tag('alr_add.png', {:title => t('forms.addqos')}),'#', :onclick => "$('#myMntr').modal({aid:'#{atr._id}', maid:'#{mcr_atr._id}', alrcat:'qos'})"
                        %td
                          -if atr.alr_mon
                            -tipo=''
                            -if atr.alr_mon._type == 'AlrMntrCntr'
                              -tipo='alr_mntr_cntrs'
                            -else
                              -tipo='alr_mntr_rngs'
                            -if atr.alr_mon.state == 'act'
                              =link_to image_tag('alr_stop.png', {:title => t('forms.stopalarm')}), "/#{tipo}/state?atr_id=#{atr._id}&alr_cat=alr"
                            -else
                              =link_to image_tag('alr_play.png', {:title => t('forms.playalarm')}), "/#{tipo}/state?atr_id=#{atr._id}&alr_cat=alr"
                            = link_to image_tag('alr_edit.png', {:title => t('forms.editalarm')}), "mcr_atrs/#{mcr_atr._id}/atrs/#{atr._id}/#{tipo}/#{atr.alr_mon._id}/edit?alr_cat=alr"
                            = link_to image_tag('alr_delete.png', {:title => t('forms.delalarm')}), "mcr_atrs/#{mcr_atr._id}/atrs/#{atr._id}/#{tipo}/#{atr.alr_mon._id}?alr_cat=alr", :method => :delete, :data => { :confirm => t('forms.delparams.confirm') }
                          -else
                            = link_to image_tag('alr_add.png', {:title => t('forms.addalarm')}),'#', :onclick => "$('#myMntr').modal({aid:'#{atr._id}', maid:'#{mcr_atr._id}', alrcat:'alr'})"

    #myMntr.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myMntrLabel", :role => "dialog", :tabindex => "-1"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myMntrLabel Seleccionar Tipo de Monitor
      .modal-body2
        =link_to 'Counter' , '#', :id => "conmon", :class => "links2"
        =link_to 'Gauge' ,'#', :id => "gaumon", :class => "links2"
    #confValue.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "confValueLabel", :role => "dialog", :tabindex => "-1"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#confValueLabel Modificar valor del atributo
      .modal-body
        =simple_form_for(:atr, :method => :put, :wrapper => :bootstrap, :html => {:id => 'formo', :class => 'form-horizontal' }) do |f|
          /=f.input :value, label: 'Valor', :input_html => {:type => 'number', :step => '0.01', :required => true, :class => "span4" }, :hint => "Valor del atributo"
          /=f.input :value, :label => 'Valor', :collection => [['Verdadero', 'true'], ['Falso', 'false']], :as => :select, :include_blank => false, :hint => "Valor del atributo NOO."
          #valco
          .modal-footer2
            %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cerrar
            %button.btn.btn-primary#submit{:type => "submit"}='Guardar'
    :javascript
      $(function () { $("input").not("[type=submit]").jqBootstrapValidation(); } );
      $('#myMntr').on('show', function(e){
        aid1 = $(e.currentTarget).data('modal').options.aid
        maid1 = $(this).data('modal').options.maid
        alrcat1 = $(this).data('modal').options.alrcat
        document.getElementById("conmon").href = "mcr_atrs/"+maid1+"/atrs/"+aid1+"/alr_mntr_cntrs/new?alr_cat="+alrcat1
        document.getElementById("gaumon").href = "mcr_atrs/"+maid1+"/atrs/"+aid1+"/alr_mntr_rngs/new?alr_cat="+alrcat1
      });
      $('#myMntr').on('hidden', function(){
          $(this).data('modal', null);
      });
      $('#confValue').on('show', function(){
        mrid = $(this).data('modal').options.mrid;
        maid = $(this).data('modal').options.maid;
        aid = $(this).data('modal').options.aid;
        val = $(this).data('modal').options.val;
        tipo = $(this).data('modal').options.tipo;
        var itype,idvrm,idvrr;

        atr=document.getElementById("valco");
        if (tipo==="Integer") {
          itype="text"
          idvrm="Valor debe ser un número entero"
          idvrr="^\\d+$"
          atr.innerHTML = "<div class=\"control-group string required atr_value\"><label class=\"string required control-label\" for=\"atr_value\"><abbr title=\"required\">*</abbr> Valor</label><div class=\"controls\"><input class=\"string required span4\" id=\"atr_value\" name=\"atr[value]\" data-validation-regex-regex=\""+idvrr+"\" data-validation-regex-message=\""+idvrm+"\" data-validation-required-message=\""+idvrm+"\" required size=\"50\" step=\"0.01\" type=\""+itype+"\" aria-invalid=\"false\"><p class=\"help-block\">Valor del atributo</p></div></div>";
        } else if (tipo==="Float") {
         itype="text"
         idvrm="Valor debe ser un número decimal"
         idvrr="^[-]?(0|[1-9][0-9]*)(\\.[0-9]+)?([eE][+-]?[0-9]+)?$"
         atr.innerHTML = "<div class=\"control-group string required atr_value\"><label class=\"string required control-label\" for=\"atr_value\"><abbr title=\"required\">*</abbr> Valor</label><div class=\"controls\"><input class=\"string required span4\" id=\"atr_value\" name=\"atr[value]\" data-validation-regex-regex=\""+idvrr+"\" data-validation-regex-message=\""+idvrm+"\" data-validation-required-message=\""+idvrm+"\" required size=\"50\" step=\"0.01\" type=\""+itype+"\" aria-invalid=\"false\"><p class=\"help-block\">Valor del atributo</p></div></div>";
        } else if (tipo==="String") {
         itype="text"
         idvrm="Valor no puede estar vacío"
         idvrr="[a-zA-Z0-9][\\sa-zA-Z0-9]{0,19}"
         atr.innerHTML = "<div class=\"control-group string required atr_value\"><label class=\"string required control-label\" for=\"atr_value\"><abbr title=\"required\">*</abbr> Valor</label><div class=\"controls\"><input class=\"string required span4\" id=\"atr_value\" name=\"atr[value]\" data-validation-regex-regex=\""+idvrr+"\" data-validation-regex-message=\""+idvrm+"\" data-validation-required-message=\""+idvrm+"\" required size=\"50\" step=\"0.01\" type=\""+itype+"\" aria-invalid=\"false\"><p class=\"help-block\">Valor del atributo</p></div></div>";
        } else if (tipo==="Boolean") {
         itype="text"
         idvrm="Valor no puede estar vacío"
         atr.innerHTML = "<div class=\"control-group select required atr_value\"><label class=\"select required control-label\" for=\"atr_value\"><abbr title=\"required\">*</abbr> Valor</label><div class=\"controls\"><select class=\"select required\" id=\"atr_value\" name=\"atr[value]\"><option value=\"true\">Verdadero</option><option value=\"false\">Falso</option></select><p class=\"help-block\">Valor del atributo.</p></div></div>";
        }
        $("input").not("[type=submit]").jqBootstrapValidation();
        document.getElementById("formo").action = "/man_rscs/"+mrid+"/mcr_atrs/"+maid+"/atrs/"+aid;
        document.getElementById("atr_value").value = val;
      });
      $('#confValue').on('hidden', function(){
        $(this).data('modal', null);
      });
%br
.form-actions
  =link_to t('forms.back'), session[:return_to], {:class => "links"}


