<!DOCTYPE html>
<meta charset="utf-8">

<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap combined.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript"src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
</script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"> </script>


<div>
<table border="0">
<tittle><h2>Filtros</h2></tittle>
<tr>
    <th></th>
    <th></th>
    <th></th>
</tr>

<%= form_tag :action => 'index' do %>

<tr>
<td>Opcion</td>
<td> 
<%=select_tag 'atr', options_from_collection_for_select(Atr.all , "id", "name"), :prompt => "Select something" %>
</td>
<td></td>
</tr>

<tr>
<td>Opcion</td>
<td> 
<%=select_tag 'opcion', "<option>Rango fechas</option><option>Rango tiempo</option>".html_safe%>
</td>
<td></td>
</tr>

<tr>
<td>Seleccion rango de tiempo</td>
<td> 
<%=select_tag 'tiempo', "<option>last year</option><option>last month</option><option>last week</option><option>last day</option><option>last hour</option><option>last minute</option>".html_safe%>
</td>
<td></td>
</tr>

<tr>
<td>Seleccion rango de fechas</td> 
<td>
<div id="datetimepicker" class="input-append date">
      <%=text_field_tag 'fechaa'%>
      <span class="add-on">
        <p>Cal</p>
      </span>
</div>
</td>
<td>
<div id="datetimepickerb" class="input-append date">
      <%=text_field_tag 'fechab'%>
      <span class="add-on">
        <p>Cal</p>
      </span>
</div>
</td>
</tr>

<tr>
<td><%= submit_tag 'enviar' %></td>
<td></td>
<td></td>
</tr>
<%end%>
</table>


<script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
      });

      $('#datetimepickerb').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
      });
</script>





</div>

