<!DOCTYPE html>
<html>
<head></head>
<body>
<div>
  <table class="table table-bordered" style="width: 500px">
  <tittle><h2 class="the-legend">Historicos</h2></tittle>
  <tr>
    <th>Valor</th>
    <th>Año</th>
    <th>Mes</th>
    <th>Dia</th>
    <th>Hora</th>
    <th>Minuto</th>
    <th>Segundo</th>
  </tr>
   <% @historicos.each do |n| %>
   <tr class="success">
   <td><%= n.value %> </td> 
   <td><%= Time.at(n.tstamp).year %> </td>
   <td><%= Time.at(n.tstamp).month %> </td>
   <td><%= Time.at(n.tstamp).day %> </td>
   <td><%= Time.at(n.tstamp).hour %> </td>
   <td><%= Time.at(n.tstamp).min %> </td>
   <td><%= Time.at(n.tstamp).sec %> </td>
   </tr>
   <%end%>
  </table>
  </div>
</body>
</html>