  <h2 class="the-legend"> Estadisticos</h2>
  <div  id="parcialestadisticos">

  <table class="table table-bordered" id="tablaparcialestadisticos">
  <tr>
    <th>Rango</th>
    <th>Minimo</th>
    <th>Maximo</th>
    <th>Varianza</th>
    <th>Media</th>
    <th>Moda</th>
    <th>Promedio</th>
  </tr>
  <tr class="success">
   <td><%= @estadisticos.range %></td>
   <td><%= @estadisticos.min %> </td>
   <td><%= @estadisticos.max %> </td>
   <td><%= @estadisticos.variance%> </td>
   <td><%= @estadisticos.median%> </td>
   <td><%= @estadisticos.mode%> </td>
   <td><%= @estadisticos.mean%> </td>
  </tr>
  </table>


  </div>

