  <!DOCTYPE html>
  <html>
  <head>
  </head>
  <body>

  <h2 class="the-legend"> Estadisticos</h2>
  <div> 

  <table class="table table-bordered" style="width: 500px">
  <tr>
    <th>Rango</th>
    <th>Minimo</th>
    <th>Maximo</th>
    <th>Varianza</th>
    <th>Media</th>
    <th>Moda</th>
    <th>Promedio</th>
  </tr>
  <tr class="success">
   <td><%= @stats.range %></td> 
   <td><%= @stats.min %> </td>
   <td><%= @stats.max %> </td>
   <td><%= @stats.variance%> </td>
   <td><%= @stats.median%> </td>
   <td><%= @stats.mode%> </td>
   <td><%= @stats.mean%> </td>
  </tr>
  </table>


  </div>

  </body>
  </html>
