  <div> 
   <p>array => <%=@stats%></p>

   <p>Rango =><%=@stats.range%></p>
   <p>Minimo => <%=@stats.min%></p>
   <p>Maximo  => <%=@stats.max%></p>
   <p>Varianza => <%=@stats.variance%></p>
   <p>Media => <%=@stats.median%></p>
   <p>Moda => <%=@stats.mode%></p>
   <p>Promedio => <%=@stats.mean%></p>
  </div>