<h1>Consulta de Diferentes Historicos</h1>
<%= form_tag :action => 'index' do %>
<p>Digita un dia: 
<%= text_field_tag 'dia' , @dia %>
</p>
<%= submit_tag 'enviar' %>
<%end%>

<h2> fecha de hoy en entero : <%=@integro%></h2>
<h2> fecha consultada : <%=@integrob%></h2>

<% @historicosb.each do |n| %>
<p> consultado valor :<%= n.value %> </p> 
<p> consultado fecha :<%= n.tstamp %> </p>
<%end%>